<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <add key="MemoryFile" value="memory"/>
      <add key="pusk" value ="1"/>
      <add key="vzap1" value ="1"/>
      <add key="zam1" value ="1"/>
      <add key="zam2" value ="1"/>
      <add key="chist" value ="1"/>
      <add key="op" value ="1"/>
      <add key="vib" value ="1"/>
      <add key="zapp" value ="1"/>
      <add key="pereh" value ="1"/>
      <add key="IR" value = "1"/>
      <add key ="RVV" value ="1"/>
      <add key ="RON.prznk" value ="0"/>
      <add key ="RON.sum" value="0"/>
    </appSettings>
</configuration>